/* styles.css */

/* Grundlegende Stile für das Body-Element */
body {
    font-family: Calibri, sans-serif, Arial;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: white; /* Weißer Hintergrund für den gesamten Body */
}

#home {
    background-image: url('Stayery_4.jpg'); /* Pfad zum Hintergrundbild */
    background-size: 100%; /* Bildgröße beibehalten, um den gesamten Bereich zu bedecken */
    background-repeat: no-repeat; /* Bildwiederholung verhindern */
    background-position: top; /* Bild zentrieren */
    background-attachment: local; /* Hintergrundbild bleibt fixiert */
    height: 100vh; /* Setzt die Höhe der Sektion auf die volle Höhe des Bildschirms */
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: rgba(0, 0, 0, 0.6); /* Sehr durchsichtige schwarze Farbe */
    color: yellow;
    padding: 1rem;
    display: flex; /* Flexbox-Layout */
    align-items: center; /* Zentrieren der Elemente vertikal */
    position: fixed; /* Fixiert den Header */
    top: 0;
    width: 100%;
    z-index: 1000; /* Stellt sicher, dass der Header über anderen Elementen liegt */
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
    gap: 2rem;
}

header nav ul li {
    display: inline;
    color: yellow; /* Schriftfarbe auf gelb gesetzt */
}

.header-container {
    display: flex; /* Flexbox-Layout */
    justify-content: space-between; /* Platz zwischen den Elementen */
    width: 100%; /* Volle Breite */
}

header h1 {
    margin: 0; /* Entfernt den Standardabstand */
    margin-left: 4rem; /* Fügt einen Abstand von 4rem vom linken Rand hinzu */
    text-align: left; /* Links ausgerichtet */
    flex: 1; /* Nimmt den verfügbaren Platz ein */
    color: yellow; /* Schriftfarbe auf gelb gesetzt */
    font-size: 3rem;
}

header nav ul li a {
    color: yellow; /* Links im Header auf gelb gesetzt */
    text-decoration: none;
    font-size: 1.2rem;
}

button {
    padding: 0;
    font-size: 1rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: rgba(255, 255, 0, 0.01); /* Durchsichtige gelbe Farbe */
    color: yellow;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black; /* Links im Dropdown auf schwarz gesetzt */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 0, 0.01); /* Etwas weniger durchsichtiges Gelb bei Hover */
}

.fields-container {
    display: flex;
    justify-content: center; /* Zentriert den Container horizontal */
    align-items: center; /* Zentriert den Container vertikal */
    gap: 1rem; /* Abstand zwischen den Feldern */
    height: 100%; /* Voller Höhe */
}

.field {
    flex: 0 1 200px; /* Flex-Basis auf 200px gesetzt, um die Breite zu reduzieren */
    display: flex;
    justify-content: center;
    align-items: center;
}

.field select, .field input, .field button {
    padding: 1rem; /* Vergrößert das Padding */
    font-size: 1.2rem; /* Vergrößert die Schriftgröße */
    background-color: rgba(0, 0, 0, 0.8); /* Durchsichtige schwarze Farbe */
    color: yellow; /* Schriftfarbe auf gelb gesetzt */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Schwarze Umrandung */
    border: 1px solid #ccc; /* Rahmenfarbe */
    border-radius: 4px; /* Abgerundete Ecken */
    width: 100%; /* Volle Breite der Felder */
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Startet den Inhalt von oben */
    align-items: center; /* Zentriert den Inhalt horizontal */
    padding: 1rem;
    background-color: yellow; /* Weißer Hintergrund für alle nachfolgenden Elemente */
    margin-top: 90px; /* Platz für den fixierten Header schaffen */
}

section {
    width: 100%;
    margin-bottom: 2rem;
}

#businesstrip {
    background-color: white; /* Weißer Hintergrund */
    width: 80%; /* Breite des Kastens */
    height: 550px; /* Höhe des Kastens */
    margin: 0 auto 100px; /* Zentriert den Kasten horizontal und fügt vertikale Abstände hinzu */
    border-radius: 10px; /* Abgerundete Ecken */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Bilder und Text am oberen Rand ausrichten */
    padding: 1rem; /* Padding, um Platz innerhalb des Kastens zu schaffen */
    box-sizing: border-box; /* Padding wird in die Breite und Höhe einbezogen */
}

.image-container {
    display: flex;
    justify-content: space-between; /* Abstand zwischen den Bildern */
    align-items: flex-start; /* Bilder und Text am oberen Rand ausrichten */
    gap: 1rem; /* Abstand zwischen den Bildern */
    width: 100%;
    margin-top: 65px; /* Startet die Bilder 65px tiefer */
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; /* Abstand zwischen Bild und Textfeld */
    width: 30%; /* Jedes Bild nimmt etwa 1/3 der Breite des Containers ein */
}

.image-item img {
    width: 100%; /* Bild füllt die Breite des Containers aus */
    height: auto;
    border-radius: 4px; /* Abgerundete Ecken für die Bilder */
}

.image-item input, .image-item b {
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%; /* Textfeld und Text füllt die Breite des Containers aus */
    text-align: center;
}

#rooms {
    background-color: white; /* Weißer Hintergrund */
    width: 80%; /* Breite des Kastens */
    height: 550px; /* Höhe des Kastens */
    margin: 0 auto; /* Zentriert den Kasten horizontal */
    border-radius: 10px; /* Abgerundete Ecken */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Bilder und Text am oberen Rand ausrichten */
    padding: 1rem; /* Padding, um Platz innerhalb des Kastens zu schaffen */
    box-sizing: border-box; /* Padding wird in die Breite und Höhe einbezogen */
}

#rooms .image-container {
    justify-content: center; /* Zentriert die Bilder in der Mitte */
    gap: 45px; /* Abstand von 35px zwischen den Bildern */
}

#rooms .image-item {
    width: 40%; /* Jedes Bild nimmt etwa 30% der Breite des Containers ein */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rooms .image-item img {
    width: 475px; /* Bild füllt die Breite des Containers aus */
    height: 300px; /* Einheitliche Höhe der Bilder */
    object-fit: cover; /* Bild skalieren und zuschneiden, um die Höhe zu erfüllen */
    border-radius: 4px; /* Abgerundete Ecken für die Bilder */
}

#contact {
    background-color: yellow; /* Weißer Hintergrund */
    width: 100%; /* Breite des Kastens */
    height: 250px; /* Höhe des Kastens */
    margin: 0 auto; /* Zentriert den Kasten horizontal und fügt vertikale Abstände hinzu */
    border-radius: 10px; /* Abgerundete Ecken */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Bilder und Text am oberen Rand ausrichten */
    padding: 1rem; /* Padding, um Platz innerhalb des Kastens zu schaffen */
    box-sizing: border-box; /* Padding wird in die Breite und Höhe einbezogen */
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 1rem;
}
