/* styles.css */

/* Hintergrundbild für das gesamte Body-Element */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('images/Stayery_4.jpg'); /* Pfad zum Hintergrundbild */
    background-size: cover; /* Bildgröße anpassen, um den gesamten Bildschirm zu bedecken */
    background-repeat: no-repeat; /* Bildwiederholung verhindern */
    background-position: center center; /* Bild zentrieren */
}

header {
    background-color: rgba(255, 255, 0, 0.2); /* Sehr durchsichtige gelbe Farbe */
    color: white;
    padding: 1rem;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-top: 1rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

main {
    flex: 1;
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
